<div class="form-group">
  <p><strong>{{ question['question'] }}</strong></p>

  {% if question['questionContent'] is none %}

  {% else %}
    {% for content in question['questionContent'] %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkbox101" name="{{question['id']}}.answerContent.{{ content['content'] }}"
               value="{{ content['content'] }}">
        <label class="form-check-label" for="checkbox101">
          <img class="img-thumbnail img-fluid" style="width:auto; max-height: 300px;" src= {{ "../../" + content['content'] }}/>
        </label>

      {% if content['count'] is defined %}
        <div style="color:blue;"><strong> Count: {{ content['count'] }}</strong></div>
      {% endif %}

      </div>
    {% endfor %}
  {% endif %}


</div>


